.mat-elevation-z8 {
    overflow: hidden;
    border-radius: 4px;
  }
  
  .mat-table {
    width: 100%;
  }
  
  .mat-header-cell, .mat-cell {
    padding: 8px;
  }
  
  .mat-header-row, .mat-row {
    border-bottom: 1px solid #e0e0e0;
  }
  
  .mat-icon-rtl-mirror {
    transform: scaleX(-1);
  }